registry=https://registry.npmmirror.com/
@dsh-mermaid-renderer:registry=http://localhost:4873/
network-concurrency=4
fetch-retries=8
fetch-retry-mintimeout=2000
fetch-retry-maxtimeout=30000
fetch-timeout=120000
